@font-face {
    font-family: 'gothic';
    src: url('tipografia/GOTHIC.TTF');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gothicB';
    src: url('tipografia/GOTHICB.TTF');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gothicBI';
    src: url('tipografia/GOTHICBI.TTF');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gothicCI';
    src: url('tipografia/GOTHICI.TTF');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('tipografia/Montserrat-Regular.otf');
    font-weight: normal;
    font-style: normal;
}